
.navbar-ly {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items : center;
    background-color: $white !important;
    .btn-ctn {
        max-width: 300px;
    }
}

.med-brand, #med {
    & > span {
        font-size: 32px !important;
        font-weight: bolder;
        line-height: 40px;
        &:last-child {
            color : $primary-color;
        }
    }
}
.welcome {
    padding:  0 3rem;
    padding-top: 3rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -3rem;
}
.banner-inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    & > section {
        min-width: 800px;
        max-width: 70%;
    }
    & > div {
        position: relative;
        width: 30%;
        margin-left: -15%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.banner-connexion {
    flex-direction: row-reverse;
    & > div {
        // height: 70%;
        width: 22%;
        margin-left: unset;
        margin-right: -15%;
    }
}