// Color Variables
$primary-color: #0616f8;
//$primary-color: #006eff;
$text-color: #333;
$text-color-dark: #222;
$text-color-light: #999;
$text-color-light-2: #CCC;
$text-color-green : rgb(38, 179, 25);
$body-color: #fff;
$border-color: #E2E2E2;
$black: #000;
$white: #fff;
$light: #FBFBFB;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
//$primary-font: 'Times New Roman', sans-serif;
$icon-font: 'themify';